.form2{
    
    box-shadow: 6px 6px 6px black;
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    width: 600px;
    height: 260px;
    background-color: rgb(141, 141, 141);


}
.btn2{
    box-sizing: border-box;
    cursor: pointer;
    margin: 30px;
    margin-left: 250px;
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    background-color: rgb(133, 0, 0);
}
