*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: 0;

}

.cabeça{
   
    display: block;

    width: 100%;
    height: 200px;
  text-align: center;
  color: aliceblue;
  font-size:medium;

}
.cabeça img{
    
   display: block;
   margin: auto;
   padding-top: 10px;
    
    
    

    width: 400px;
    height: 150px;
}

body{
    background-image:url(img/WhatsApp\ Image\ 2022-12-13\ at\ 12.40.40\ PM.jpeg);
    background-repeat:repeat-y;
 
  background-position: center;
  background-size: cover;
}
input[type=text] {

    height: 25px;
    border-radius: 10px;
    
}
.container{
    width: 660px;
    padding-left: 350px;
    padding-top: 50px;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.conteudo1{
    cursor: pointer;
    width: 150px;
    height: 60px;
    background-color: rgb(146, 0, 0);
    border-style: double ;
    border-radius: 10px;
    margin: 14px;
    text-align: center;
    padding-top: 40px;
    padding: 5px;
    color: aliceblue;
    
}
.btn:hover{
    cursor: pointer;
    margin: 30px;
    margin-left: 250px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 80px;
    height: 40px;
    background-color: rgb(216, 0, 0);
    
    


}
.form1{
    
    
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    width: 600px;
    height: 260px;
    background-color: rgb(141, 141, 141);
}

.btn{
    cursor: pointer;
    margin: 30px;
    margin-left: 250px;
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    background-color: rgb(139, 0, 0);
}